/* 제목 */
@import url(Title.css);
/* 글쓰기 및 검색 */
@import url(SearchBar.css);

html {
    background: url(../IMG/Notice/BG.png) no-repeat 50% 50% fixed; 
    background-attachment: fixed ;
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover;
}

/* 게시글 목록 */
.Notice-bottom table {
    /* position: absolute; 주면 가운데 정렬이 안됨 */
    width:75%;
    margin:auto;
    margin-top:8px;
    text-align: center;
}
.Notice-bottom tr:nth-child(1){
    background-color: #fac60e;
    height:35px;
    font-size: 16px;
    color: white;
}
.Notice-bottom td:nth-child(n+1){
    height:40px;
    border-bottom: 1.5px solid #fac60e;
}

/* 페이지 조절 */
.Notice-page {
    position: relative;
    width: 400px;
    height: 50px;
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
}
.Notice-page .Page-num {
    /* position: absolute; */
    display: inline-block;
    width:30px;
    height:30px;
    background-color: #fac60e;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    font-size:13px;
    color:white;
    transform: translateX(-50%);
}
.Notice-page .Page-num-no-click {
    /* position: absolute; */
    display: inline-block;
    /* margin-left:50px; */
    width:30px;
    height:30px;
    border-radius: 50%; 
    text-align: center;
    line-height: 30px;
    font-size:13px;
    color:#DADADA;
    border: 1px solid #DADADA;
    transform: translateX(-50%);
}
.Notice-page img {
    /* position: absolute; */
    display: inline-block;
    text-align: center;
}
.Notice-page .Left-img {
    margin-right: 30px;
    /* margin-top: 10px;    */
}