/* 제목 */
@import url(Title.css);
/* 글쓰기 및 검색 */
@import url(SearchBar.css);

html {
    background: url(../IMG/Calendar/ScheduleWindow/BG.png) no-repeat 50% 50% fixed; 
    background-attachment: fixed ;
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover;
}

.Notice-up {
    position: relative;
    width: 1200px;
    height:80px;
    text-align: center;
    margin: 0 auto;

    font-family: 'Noto Sans KR', sans-serif;
}
.Notice-up #Notice-word {
    position: absolute;
    display: inline-block;
    color:#FCAF49;
    transform: translateX(-50%);
    font-size: 35px; 
    font-weight: 700; 
}

.Notice-up #Notice-plus {
    position: absolute;
    display: inline-block;
    transform: translateX(-50%);
    font-size:15px;
    margin-top:60px;
    font-weight: lighter;
    color: rgb(221,221,221);
}

.Content
{
    width: 1300px;
    height: 900px;
    margin-top: 50px;
    overflow: hidden;
}

.calendar-left, .calendar-right
{
    margin: 9px;
    text-align: center;
    display:inline-block;
    width : 600px;
    height: 590px;
}

.calendar-left
{
    background-image: url(../IMG/Calendar/ScheduleWindow/WindowBig.png);
    float: left;
}

.calendar-item1
{
    text-align : left;
    margin : 34px;
    font-size : 30px;
    color: #7B97D7;
}

.calendar-item2
{
    text-align: center;
    width: 442px;
    height: 405px;
    font-size: 20px;
    /* top, right, bottom, left  */
    margin: 34px 70px 68px 70px;
}
.calendar-item2-h
{
    
}

.calendar-item2-d
{
    color : #B2B2B2;
}

.calendar-right
{

}

.calendar-right-item
{
    width: 600px;
    height: 160px;
    background-image: url(../IMG/Calendar/ScheduleWindow/WindowSmall.png);
    background-repeat: no-repeat;
    display: inherit;
}

.Plus-Btn
{
    border : 0;
    outline : 0;
    top : 20px;
    background-color: transparent !important;
    text-align : center;
}

button:active 
{
    transform: scale(0.90);
}

#item1-Btn-evnet
{
    display: none; 
    position: fixed; 
    left: 30%; 
    top: 20%; 
    width: 780px; 
    height: 610px;
    z-index: 1;
}

#item1-Btn-evnet .close
{
    position:absolute;
    right:40px;
    top:40px;
    padding:1px 6px;
    color:#fff;
}

#item1-Btn-evnet .close:hover {text-decoration:underline;}

.item1-Btn-evnet-head-item1
{
    position:fixed; 
    top:20%; 
    font-family: 'Noto Sans KR', sans-serddif;
    font-size: 25px;
    font-weight: 700;
    margin: 0;
    padding: 30px;
}

.item1-Btn-evnet-head-item2
{
    font-size: 15px;
    color: rgb(182, 176, 176);
    position: fixed;
    top: 26%;
    padding-left: 30px;
}


.item1-Btn-evnet-content-item1 span, .item1-Btn-evnet-content-item2 span, .item1-Btn-evnet-content-item3 span
{
    font-size: 13px;
    margin-right: 14px;
}

.item1-Btn-evnet-content-item1
{
    position:fixed; 
    top:35%; 
    font-family: 'Noto Sans KR', sans-serddif;
    font-size: 13px;
    margin-left: 55px;
    margin-bottom: 15px;
}

.item1-Btn-evnet-content-item2
{
    position:fixed; 
    top:45%; 
    font-family: 'Noto Sans KR', sans-serddif;
    font-size: 13px;
    margin-left: 55px;
    margin-bottom: 15px;
}

.item1-Btn-evnet-content-item3
{
    position:fixed; 
    top:55%; 
    font-family: 'Noto Sans KR', sans-serddif;
    font-size: 13px;
    margin-left: 55px;
    margin-bottom: 15px;
}

#Title
{
    width: 430px;
    height: 30px;
    border-radius: 15px;
    padding: 10px;
    border: 0;
    box-shadow: 0px 0px 5px #778BB8;
}

#Date
{
    width: 430px;
    height: 30px;
    border-radius: 15px;
    padding: 10px;
    border: 0;
    box-shadow: 0px 0px 5px #778BB8;
}

#Content
{
    border-radius: 15px;
    width: 642px;
    height: 166px;
    padding: 10px;
    resize:none; /* 크기고정 */
    border: 0;
    box-shadow: 0px 0px 5px #778BB8;
}

.item1-Btn-evnet-content-item3 span
{
    
}

#item1-Btn-evnet button
{
    width: 150px;
    height: 70px;

    position:fixed; 
    top: 77%;
    left: 48%;

    background-color: transparent !important;
    background-image: url(../IMG/Calendar/AddSchedule/Submit.png);
    border:0;
    outline:0;
}

.calendar-right-item
{
    position: relative;
}

.calendar-right-item-c
{
    border-radius: 100px;
    width: 70px;
    height: 70px;
    background-color: #7b97d7;
    text-align: center;
    line-height: 70px;
    margin-top: 32px;
    margin-left: 30px;
    color: white;
    font-family: 'Noto Sans KR', sans-serif;
}

.calendar-right-item-head
{
    position: absolute;
    font-family: 'Noto Sans KR', sans-serif;
    color: #7b97d7;
    font-size: 25pt;
    top: 0px;
    margin-bottom:20px;
    margin-left: 120px;
}

.calendar-right-item-content1
{
    position: absolute;
    top: 70px;
    margin-bottom:20px;
    margin-left: 120px;
}

.calendar-right-item-content2
{
    position: absolute;
    top: 95px;
    margin-bottom:20px;
    margin-left: 120px;
}

button:active 
{
    transform: scale(0.90);
}