html {
    background: url(../IMG/SignUp/BG2.png) no-repeat 50% 50% fixed; 
    background-attachment: fixed ;
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover;
}

/* container css */
.container {
    position: relative;
    width: 100%;
    height: 961px;
    margin-top: 10px; /* 반응형때 변경해야함 */
    z-index: 1;
}

/* contents css */
.contents {
    position: absolute;
    margin-top: 15px; /* nav와 회원가입 글자사이 간격 */
    width: 800px;   /* 반응형때 변경해야함 */
    height: 900px; 
    left: 50%;
    transform: translateX(-50%);
}

/* 아이디/비밀번호 찾기 글씨 */
.title {
    width: 100%;
    height: 50px;
    margin-bottom: 15px; /* 글자와 창 간격 조절 */
}

.title-p{
    text-align: center;
    font-size: 32px;
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0; 
}

.bar {
    position: absolute;
    border: 1.1px solid #ffd100;
    width: 280px;
    left: 50%;
    transform: translate(-50%, 0);
}

/* 창 이미지 */

#window-img {
    position: absolute;
    text-align: center;
    width: 100%; /* contents width에 맞춰서 조절 */
    z-index: 0;
}

/* 아이디 찾기/비밀번호 찾기 버튼 css */
.buttons {
    position: relative;
    width: calc(100% - 22px);
    height: 74px;
    line-height: 75px;
    box-sizing: border-box;
    text-align: center;
    margin-top: 28px;
    margin-left: 11px;
    margin-right: 11px;
    font-size: 20px;
}

.button-l {
    position: absolute;
    width: 50%;
    height: 100%;
    border-radius: 28px 0 0 0;
    background-color: #3648ec;
    color: white;
    font-family: 'Noto Sans KR', sans-serif;
}

.button-r {
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    border-radius: 0 28px 0 0;
    background-color: white;
    color: black;
}

.input {
    position: absolute;
    width: 450px;
    height: 210px;
    left: 50%;
    top: 24%;
    transform: translate(-50%, 0);
}

.form {
    position: relative;
    width: 100%;
    height: 48px;
    margin-bottom: 7px;
}

.name-p {
    width: 15%;
    display: inline-block;
    text-align: left;
    margin-left: 20px;
    font-size: 15px;
    font-family: 'Noto Sans KR', sans-serif;
}

.input-info {
    float: right;
    width: 80%;
    height: 100%;
    border:1px solid #3648ec;
    border-radius: 10px 10px 10px 10px;
    box-sizing: border-box;
    padding-left: 15px;
}

.input-half {
    width: 37.3%;
    height: 100%;
    border:1px solid #3648ec;
    border-radius: 10px 10px 10px 10px;
    box-sizing: border-box;
    padding-left: 15px;
}

.input-half::placeholder {
    background-color: white;
    color: #a1a1a1; 
    font-size: 13px;
}

.input-info::placeholder {
    color: #a1a1a1; 
    font-size: 13px;
}

#submit {
    position: absolute;
    width:160px;
    height:60px;
    background-color: black;
    color: white;
    font-size: 16px;
    border-radius: 50px;
    font-family: 'Noto Sans KR', sans-serif;
    transform: translate(50%);
    right: 50%;
    bottom: 0;
}