@import "./index-ani.css";

html {
    background: url(../IMG/Main/BG.png) no-repeat 50% 50%; 
    background-attachment: fixed ;
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover;
}
#username{
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;
    display: inline;
}

#LogOut{
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;
}

.container {
    position: relative;
    width: 100%;
    z-index: 1;
}

/* 왼쪽 content */
.content-Left{
    position: absolute;
    margin-top: 80px;
    margin-left: 70px;
}

.cont1{
    font-size: 44px;
    font-family: 'Do Hyeon', sans-serif;
    line-height: 8px;
}

.cont2{
    font-size: 16px;
    line-height: 2px;
    font-weight: bold;
    font-family: 'Nanum Gothic', sans-serif;
    color: #9c9c9c;
}

#seeMore{
    width: 156px;
    height: 64px;
    margin-top: 3%;
}

#chat{
    color: #fac60e;
}

/* 동그라미 */
#Circle1{
    display: inline-block;
    margin-left: 10px;
    width: 10px;
    height: 10px;
    background: #fac60e;
    border-radius: 50%;
}

#Circle2{
    display: inline-block;
    margin-left: 10px;
    width: 10px;
    height: 10px;
    background: #fac60e;
    border-radius: 50%;
}


.content-Right{
    position: absolute;
    margin-left: 550px;
}

.left-content{
    position: relative;
    display: inline-block;
    width: 360px;
    height: 500px;
    z-index: 1;
}

.left-content-people{
    position: absolute;
    width: 350px;
    height: 500px;
}

.left-content-bubble{
    position: absolute;
    width: 115px;
    height: 115px;
    margin-left: 30px;
}

.left-content-deco{
    position: absolute;
    width: 85px;
    height: 80px;
    margin-left: 250px;
}

/* 오른쪽 content */
.right-content{
    position: relative;
    display: inline;
    left: -58px;
    width: 450px;
    height: 817px;
    z-index: 0;
}

.right-content-people{
    position: absolute;
    padding-top: 105px;
    width: 350px;
    height: 450px;
}

.right-content-buble1{
    position: absolute;
    padding-top: 230px;
    padding-left: 200px;
    width: 60px;
    height: 40px;
}

.right-content-buble2{
    position: absolute;
    padding-top: 270px;
    padding-left: 225px;
    width: 180px;
    height: 80px;
}

.right-content-air{
    position: absolute;
    padding-top: 140px;
    padding-left: 280px;
    width: 90px;
    height: 80px;
}
