/* 왼쪽 이미지 비스듬히 나타나는 애니메이션 */
.tilt-in-top-1 {
	-webkit-animation: tilt-in-top-1 1.0s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: tilt-in-top-1 1.0s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes tilt-in-top-1 {
    0% {
    -webkit-transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
            transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
    opacity: 0;
    }
    100% {
    -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
            transform: rotateY(0deg) translateY(0) skewY(0deg);
    opacity: 1;
    }
}
@keyframes tilt-in-top-1 {
    0% {
    -webkit-transform: rotateY(30deg) translateY(-70px) skewY(-30deg);
            transform: rotateY(30deg) translateY(-70px) skewY(-30deg);
    opacity: 0;
    }
    100% {
    -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
            transform: rotateY(0deg) translateY(0) skewY(0deg);
    opacity: 1;
    }
}

/* 오른쪽 이미지 비스듬히 나타나는 애니메이션 */
.tilt-in-top-2 {
	-webkit-animation: tilt-in-top-2 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: tilt-in-top-2 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes tilt-in-top-2 {
    0% {
    -webkit-transform: rotateY(-30deg) translateY(-70px) skewY(30deg);
            transform: rotateY(-30deg) translateY(-70px) skewY(30deg);
    opacity: 0;
    }
    100% {
    -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
            transform: rotateY(0deg) translateY(0) skewY(0deg);
    opacity: 1;
    }
}
@keyframes tilt-in-top-2 {
    0% {
    -webkit-transform: rotateY(-30deg) translateY(-50px) skewY(30deg);
            transform: rotateY(-30deg) translateY(-50px) skewY(30deg);
    opacity: 0;
    }
    100% {
    -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
            transform: rotateY(0deg) translateY(0) skewY(0deg);
    opacity: 1;
    }
}

/* 왼쪽 글씨 아래서 내려오는 애니메이션 */
.fade-in-top {
	-webkit-animation: fade-in-top 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-top 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in-top {
    0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
    }
    100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
    }
}
@keyframes fade-in-top {
    0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
    }
    100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
    }
}

/* 챗봇 위 동그라미 통통 튀는 애니메이션1 */
.bounce-in-top-1 {
	-webkit-animation: bounce-in-top-1 1.5s both;
	        animation: bounce-in-top-1 1.5s both;
}

@-webkit-keyframes bounce-in-top-1 {
    0% {
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
    }
    38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
    }
    55% {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    }
    72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    }
    81% {
    -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    }
    90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    }
    95% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    }
    100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    }
}
@keyframes bounce-in-top-1 {
    0% {
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
    }
    38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
    }
    55% {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    }
    72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    }
    81% {
    -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    }
    90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    }
    95% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    }
    100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    }
}

/* 챗봇 위 동그라미 통통 튀는 애니메이션2 */

.bounce-in-top-2 {
	-webkit-animation: bounce-in-top-2 1.2s both;
	        animation: bounce-in-top-2 1.2s both;
}

@-webkit-keyframes bounce-in-top-2 {
    0% {
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
    }
    38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
    }
    55% {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    }
    72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    }
    81% {
    -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    }
    90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    }
    95% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    }
    100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    }
}
@keyframes bounce-in-top-2 {
    0% {
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
    }
    38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
    }
    55% {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    }
    72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    }
    81% {
    -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    }
    90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    }
    95% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    }
    100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    }
}
