
.container {
    position: relative;
    width: 100%;
    height: 600px;
    z-index: 1;
}

.MirimTeam-top , .MirimTeam-bottom{
    position: absolute;
    display:table-cell;
}

/* 제목부분입니당 */
.MirimTeam-top{
    width: 500px;
    height:100px;
    text-align: center;
    margin-right: 350px;
    margin-left: 350px;
}

.MirimTeam-top #MirimTeam-word{
    font-size: 30px; 
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
}

.MirimTeam-top #MirimTeam-plus{
    font-family: 'Noto Sans KR', sans-serif;
    font-size:15px;
    font-weight: lighter;
    color:#858585;
    margin-top: 20px;
}

#MirimTeam-line {
    border: #ffe154 1.5px solid;
    margin-top: -55px;
}

/* 내용부분입니당 */
.MirimTeam-bottom{
    width: 100%;
    height: 500px;
    bottom: 0;
}   

.MirimTeam-bottom .img{
    position: relative;
    width: 1200px;
    height: 590px;
    text-align: center;
}

.form{
    position: absolute;
    top: 0;
    width: 100%;
    height: 600px;  
}


/* input 전체 , h4태그와  h4-title 관리 반복적인 부분*/
.input{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 1100px;
    height: 400px;
}

.input .input-box{
    position: relative;
    margin-left: 40px;
    margin-bottom: 20px;
}

.input .input-box .h4-title {
    position: absolute;
    margin-top: 10px;
    text-align: center;
    font-weight: lighter;
    font-family: 'Noto Sans KR', sans-serif;
}

/* select 태그 */
select{
    display: inline-block;
    background-color: white;
    border: 1px solid #fac60e;
    border-radius: 5px;
    padding: 5px;    
    font-family: 'Noto Sans KR', sans-serif;
    font-size:15px;
    font-weight: lighter;
    color:#858585;
}

/* 제목 input */
.input .input-box .input-info {
    padding: 10px;
    border: 1px solid #fac60e;
    border-radius: 5px;
    width: 390px;
    height: 15px;
    font-family: 'Noto Sans KR', sans-serif;
    box-shadow: 4px 1px 3px #FEF8E1, 5px 2px 10px #FEF8E1;

    margin-left: 150px;
}

/* 현재구성원 select*/
.input .input-box .select-box-1{
    width: 100px;
    margin: 0;
    margin-left: 150px;
}

/* 모집과/인원 select */
.input .input-box .select-box-2{
    width: 350px;
    margin: 0;
    margin-left: 150px;
}

/* 모집기간 */
.date-box{
    width: 355px;
    margin-left: 150px;
}

.input-img {
    position: absolute;
    width: 40px;
    text-align: left;
}

.input-info-date{
    width: 291.5px;
    height: 40px; 
    margin-left: 47px;
    border-radius: 0 10px 10px 0;
    border: 1px solid #fac60e;
    padding: 1.5px;
    padding-left: 15px; 
    font-family: 'Noto Sans KR', sans-serif;
}

/* 모집분야 */
.button-box
{
    margin-left: 150px;
}

.button-box button{
    background-color: white;
    width: 100px;
    height: 50px;
    border: 0.5px solid rgb(160, 158, 158);
    border-radius: 20px;
    outline: none;
    text-align: center;

    color: gray;
}

.button-box Button:hover{
    color: black;
}

/* textArea */
.input .input-box textarea {
    font-family: 'Noto Sans KR', sans-serif;
    resize: none;
    width: 400px;
    height: 100px;
    border: 1px solid #fac60e;
    border-radius: 5px;
    outline:0;
    box-shadow: 4px 1px 3px #FEF8E1, 5px 2px 10px #FEF8E1;

    padding: 10px;
    margin-left: 150px;
}

/* 등록 취소 버튼들 */
.button{
    text-align: center;
    margin-top: -30px;
}

.input .button button {
    border: 1px solid #fac60e;
    background: white;
    width:120px;
    height: 40px;
    font-family: 'Noto Sans KR', sans-serif;
    border-radius: 30px;
    font-size: 15px;
    color:#fac60e;
    margin-right:5px;
}

.input .button input {
    background: #fac60e;
    border:0;
    width:120px;
    height: 40px;
    font-family: 'Noto Sans KR', sans-serif;
    border-radius: 30px;
    font-size: 15px;
    color:white;
    margin-left:5px;
}
.input .button input:active {
    transform: scale(0.90);
}
.input .button button:active {
    transform: scale(0.90);
}

.input .input-box .button-box button:active {
    transform: scale(0.90);
}