.Notice-up #Notice-word {
    text-align: center;
    position: absolute;
    z-index: 1;
    font-size: 26px; 
    font-family: 'Noto Sans KR', sans-serif;
    width:300px;
    top:110px;
    left:40.5%;
}
.Notice-up #Notice-back {
    position: absolute;
    width:4%;
    top:120px;
    left:48%;
}
.Notice-up #Notice-line {
    background-color: blanchedalmond;
    height:1px;
    border: 0px;
    margin-top:193px;
    width:50px;
}
.Notice-up #Notice-plus {
    top:15px;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-size:13px;
}

.Notice-down select {
    margin-top:15px;
    margin-left:66%;
    height:31px;
    width:80px;
    border:1.9px solid #fac60e;
    border-radius: 5px;
    font-family: 'Noto Sans KR', sans-serif;
}
.Notice-down input {
    width:122px;
    height:25px;
    border:1.9px solid #fac60e;
    border-radius: 5px;
    font-family: 'Noto Sans KR', sans-serif;
}
.Notice-down img {
    position: absolute;
    top:259px;
    margin-left:-30px;
}

.Notice-bottom table {
    font-family: 'Noto Sans KR', sans-serif;
    width:60%;
    margin:auto;
    margin-top:8px;
    text-align: center;
}
.Notice-bottom tr:nth-child(1){
    background-color: #fac60e;
    height:50px;
}
.Notice-bottom td:nth-child(n+1){
    height:45px;
    border-bottom: 1.5px solid #fac60e;
}

.Notice-page {
    margin-top:50px;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    margin-bottom: 60px;
}
.Notice-page span{
    vertical-align: middle;
    margin-left: 20px;
    margin-right: 20px;
}
.Notice-page img {
    vertical-align: middle;
}

.Notice-page button {
    position: absolute;
    right:310px;
    background-color: #fac60e;
    font-family: 'Noto Sans KR', sans-serif;
    width:100px;
    height:35px;
    border:0;
    outline: 0;
    border-radius: 10px;
}

.Notice-page button:active {
    transform: scale(0.90);
}