/* 제목 */
@import url(Title.css);
/* 글쓰기 및 검색 */
@import url(SearchBar.css);

html {
    background: url(../IMG/Notice/Background.png) no-repeat 50% 50% fixed; 
    background-attachment: fixed ;
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover;
}

.Notice-bottom table {
    /* position: absolute; 주면 가운데 정렬이 안됨 */
    width:75%;
    margin:auto;
    margin-top:8px;
    text-align: center;
}
.Notice-bottom tr:nth-child(1){
    background-color: #fac60e;
    height:35px;
    font-size: 16px;
    color: white;
}
.Notice-bottom td:nth-child(n+1){
    height:40px;
    border-bottom: 1.5px solid #fac60e;
}

.Notice-page {
    position: relative;
    width: 200px;
    height: 70px;
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
}
.Notice-page .Page-num {
    position: absolute;
    display: inline-block;
    width:40px;
    height:40px;
    background-color: #fac60e;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color:white;
    transform: translateX(-50%);
}
.Notice-page img {
    position: absolute;
    text-align: center;
}
.Notice-page .Left-img {
    margin-left: -80px;
    margin-top: 10px;   
}
.Notice-page .Right-img {
    margin-left: 70px;
    margin-top: 10px;   
}