html {
    background: url(../IMG/Notice/BG.png) no-repeat 50% 50% fixed; 
    background-attachment: fixed ;
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover;
}

.Notice-up {
    position: relative;
    width: 500px;
    height:100px;
    text-align: center;
    margin: 0 auto;
}
.Notice-up #Notice-word {
    position: absolute;
    display: inline-block;
    transform: translateX(-50%);
    font-size: 30px; 
    font-family: 'Noto Sans KR', sans-serif;
}
.Notice-up #Notice-plus {
    position: absolute;
    display: inline-block;
    transform: translateX(-50%);
    font-family: 'Noto Sans KR', sans-serif;
    font-size:15px;
    margin-top:60px;
    font-weight: lighter;
    color:#858585;
}
#Notice-line {
    /* hr 태그는 position 넣으면 가운데 맞춤이 안됨... */
    border: #ffe154 1.3px solid;
    margin-top:-55px;
    margin-bottom: 60px;
}

.Notice-down {
    position: relative;
    width: 700px;
    height:60px;
    margin: 0 auto;
}
.Notice-down select {
    position: absolute;
    /* transform: translateX(-50%); */
    font-family: 'Noto Sans KR', sans-serif;
    font-size:15px;
    color: #505050;
    border:1.9px solid #d2d2d2;
    border-radius: 10px;
    width:110px;
    height:40px;
    margin-left: 60px;
}
.Notice-down input {
    position: absolute;
    font-family: 'Noto Sans KR', sans-serif;
    font-size:15px;
    color: #505050;
    border:1.9px solid #d2d2d2;
    border-radius: 10px;
    width:350px;
    height:35px;
    margin-left: 174px;
}
.Notice-down .Search-btn {
    position: absolute;
    margin-left: 535px;
}
.Notice-down .Search-btn button:active {
    transform: scale(0.90);
}
.Notice-down .Search-btn button {
    border:0;
    color:white;
    background: #fac60e;
    font-size:15px;
    width:110px;
    height:40px;
    border-radius: 10px;
    font-family: 'Noto Sans KR', sans-serif;
}
.Notice-down .Write-btn {
    position: absolute;
    margin-left: 690px;
}
.Notice-down .Write-btn button {
    border:0;
    color:#fac60e;
    background: white;
    font-size:15px;
    width:110px;
    height:40px;
    border-radius: 30px;
    border: 1.2px solid #fac60e;
    font-family: 'Noto Sans KR', sans-serif;
}
.Notice-down .Write-btn button:active {
    transform: scale(0.90);
}

.Notice-bottom table {
    /* position: absolute; 주면 가운데 정렬이 안됨 */
    font-family: 'Noto Sans KR', sans-serif;
    width:75%;
    margin:auto;
    margin-top:8px;
    text-align: center;
}
.Notice-bottom tr:nth-child(1){
    background-color: #fac60e;
    height:35px;
    font-size: 16px;
    color: white;
}
.Notice-bottom td:nth-child(n+1){
    height:40px;
    border-bottom: 1.5px solid #fac60e;
}

.Notice-page {
    position: relative;
    width: 200px;
    height: 70px;
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
}
.Notice-page .Page-num {
    position: absolute;
    display: inline-block;
    width:40px;
    height:40px;
    background-color: #fac60e;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color:white;
    transform: translateX(-50%);
}
.Notice-page img {
    position: absolute;
    text-align: center;
}
.Notice-page .Left-img {
    margin-left: -80px;
    margin-top: 10px;   
}
.Notice-page .Right-img {
    margin-left: 70px;
    margin-top: 10px;   
}