body
{
    position: fixed;
    margin: 0 auto;
}

ol,ul
{
    list-style-type: none;
}

#wrapper{
    margin: 0;
    width: 100%;
}

a{
    text-decoration: none;
    color:black;
}

#BG{  
    z-index: 1;
    width: 100%;
    height: 760px;
}

input:focus {outline:none;} 