/* 글쓰기 및 검색 */
.Notice-down {
    position: relative;
    width: 750px;
    height:43px;
    margin: 0 auto;
    font-family: 'Noto Sans KR', sans-serif;
    font-size:15px;
    padding-left:150px;
    margin-bottom:40px;
}
/* 제목, No, 작성자 검색 */
.Notice-down select{
    position: absolute;
    width:120px;
    height:100%;

    color: #505050;
    border:1.9px solid #d2d2d2;
    border-radius: 10px;
}
/* 검색창 */
.Notice-down input {
    position: absolute;
    width:340px;
    height:88%;
    margin-left:125px;

    color: #505050;
    border:1.9px solid #d2d2d2;
    border-radius: 10px;
    padding-left:10px;
}
/* 버튼 */
.Notice-down button {
    position: absolute;
    width:110px;
    height: 100%;
    border:0;
}
.Notice-down button:active {
    transform: scale(0.90);
}
/* 검색하기 버튼 */
.Notice-down .Search-btn button {
    margin-left:485px;
    
    border-radius: 10px;
    color:white;
    background: #fac60e;
}
.Notice-down .Write-btn button {
    right: 5px;

    color:#fac60e;
    background: white;
    border-radius: 30px;
    border: 1.2px solid #fac60e;
}