html {
    background: url(../IMG/SignUp/BG2.png) no-repeat 50% 50% fixed; 
    background-attachment: fixed ;
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover;
}
/* container css */

.container {
    position: relative;
    width: 100%;
    height: 961px; /* 몇으로 해야할까 1080-961 */
    z-index: 1;
}

.contents {
    position: absolute;
    margin-top: 15px; /* nav와 회원가입 글자사이 간격 */
    left: 50%;
    transform: translateX(-50%);
}

/* 회원가입 글씨 */
.title {
    width: 100%;
    margin-bottom: 30px;
}

.title-p{
    text-align: center;
    font-size: 32px;
    margin: 0;  /* p태그 이 속성 reset.css로 옮겨도 이상없으면 옮기기 */
    color: #FCAF49;
    font-size: 40px;
}

.descriptions-p {
    text-align: center;
    color: #666666;
    margin-top: 10px;
    margin-bottom: 0px;
}

.bar {
    position: absolute;
    border: 1.1px solid #ffd100;
    width: 130px;
    left: 50%;
    transform: translate(-50%, 0);
}

/* 창 이미지 */

.window-img {
    position: absolute;
    text-align: center;
}

.window {
    bottom: 0;
}

.input{
    position: absolute;
    top: 23%;
    left: 50%;
    transform: translate(-50%, 0);
    /* width: 397px;
    height: 470px; */
    text-align: center;
}

.input-box {
    position: relative;
    margin-bottom: 30px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 450px;
}

.half-box {
    position: relative;
    margin-bottom: 30px;
    display: inline-block;
}

.input-img {
    position: absolute;
    text-align: left;
}

.input-info, .input-id, .input-pwcheck {
    width: 350px;
    height: 48.3px; 
    margin-left: 50px;
    border-radius: 0 10px 10px 0;
    border:0px;
    padding: 1.5px;
    padding-left: 15px; 
    margin-top: 4px;
    box-shadow: 0px 1px 5px #C2C2C2;
}

/* 더 간단히 줄일 수 있으면 그렇게.. */
.input-half, .input-id {
    height: 50px; 
    margin-left: 47px;
    border-radius: 0 10px 10px 0;
    border:0px;
    padding: 1.5px;
    padding-left: 15px; 
    margin-top: 5px;
    display: inline-block;    
    box-shadow: 0px 1px 5px #C2C2C2;
    padding-top: 0;
    padding-bottom: 0px;
}

.input-half {
    width: 142px;
}

.input-id {
    width: 142px;
}

/* e-mirim 박스 */
.box {
    margin-left: 0; 
    border-radius: 10px 10px 10px 10px;
    height: 47px; 
    border:0px;
    text-align: center;
    width: 180px;
    font-size: 14px;
    background-color: white;
    box-shadow: 0px 1px 5px #C2C2C2;
}


/* 생년월일만 속성 추가 */
.input-info:nth-child(2) {
    color: #949191;
    font-size: 13px;
}

/* placeholder 색 변경 */
.input-info::placeholder, .input-id::placeholder, .input-pwcheck::placeholder, .input-half::placeholder { color: #A0A3B5; font-size: 13px; }
.box::placeholder { color: #45464F; }

.input input#sub {
    width: 405px;
    height: 60px;
    border: 0;
    border-radius: 50px;
    background-color: #fac60e;
    color:white;
    font-size: 16px;
    /* margin-top: 25px; */
    box-shadow: 0px 1px 5px #C2C2C2;
}

.half-box>span { color: #707070; }