body{
    position:fixed;
}

/* nav css */

#nav{
    position: relative;
    width: 100%;
    height: 39px;
    padding-top: 40px;
    padding-bottom: 40px;
    z-index: 1;
}

#Logo{
    position: absolute;
    width: 106px;
    height: 27px;
    margin-top: 5px;
}

#Logo-img{
    width: 100%;
    height: 100%;
}

.Menu{
    height: 53px;
    position: absolute;
    display: inline-block;
    right: 16%;
    width: 30%;
    font-size: 14px;
    margin: 0;
}

.Menu-item{
    float: left;
    font-family: 'Noto Sans KR', sans-serif;
    margin-right: 6%;
    padding-top: 8px;
}

.Sign{
    position: absolute;
    display: inline-block;
    right: 0;
}

.Sign-In{
    width: 97px;
    height: 39px;
    margin-right: 10px;
    float: left;
}

.Sign-Up{
    width: 97px;
    height: 39px;
    float: left;
}

.Sign-In-img {
    width: 100%;
    height: 100%;
}

.Sign-Up-img {
    width: 100%;
    height: 100%;
}


/* container css */

.container {
    position: relative;
    width: 100%;
    height: 961px; /* 몇으로 해야할까 1080-961 */
    z-index: 1;
}

.contents {
    position: absolute;
    margin-top: 15px; /* nav와 회원가입 글자사이 간격 */
    width: 509px; /* 맞나..? */
    height: 646px; /* 맞나... */
    left: 50%;
    transform: translateX(-50%);
}

/* 회원가입 글씨 */
.title {
    width: 100%;
    height: 50px;
    margin-bottom: 7px; /* 회원가입 글자와 창 간격 조절 */
}

.title-p{
    text-align: center;
    font-size: 32px;
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;  /* p태그 이 속성 reset.css로 옮겨도 이상없으면 옮기기 */
}

.bar {
    position: absolute;
    border: 1.1px solid #ffd100;
    width: 130px;
    left: 50%;
    transform: translate(-50%, 0);
}

/* 창 이미지 */

.window-img {
    position: absolute;
    text-align: center;
}

.window {
    bottom: 0;
}

.input{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 397px;
    height: 405px;
    text-align: center;
}

.input-box {
    position: relative;
    width: 350px;
    height: 40px; 
    margin-bottom: 25px;
    left: 50%;
    transform: translate(-50%, 0);
}

.input-img {
    position: absolute;
    text-align: left;
}

.input-info {
    width: 291.5px;
    height: 40px; 
    margin-left: 45px;
    border-radius: 0 10px 10px 0;
    border:1px solid #fac60e;
    padding: 1.5px;
    padding-left: 15px; 
    font-family: 'Noto Sans KR', sans-serif;
}

/* 생년월일만 속성 추가 */
.input-info:last-child {
    color: rgb(227, 162, 93);
    font-size: 13px;
}

/* placeholder 색 변경 */
.input-info::placeholder { color: rgb(227, 162, 93); font-size: 13px; }

.input input#sub {
    width:160px;
    height:60px;
    border: 0;
    border-radius: 50px;
    background-color: #fac60e;
    color:white;
    font-size: 16px;
    font-family: 'Noto Sans KR', sans-serif;
}