html {
    background: url(../IMG/SignUp/BG2.png) no-repeat 50% 50% fixed; 
    background-attachment: fixed ;
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover;
}
/* container css */

.container {
    position: relative;
    width: 100%;
    height: 961px; /* 몇으로 해야할까 1080-961 */
    z-index: 1;
}

.contents {
    position: absolute;
    margin-top: 15px; /* nav와 회원가입 글자사이 간격 */
    width: 509px; /* 맞나..? */
    height: 646px; /* 맞나... */
    left: 50%;
    transform: translateX(-50%);
}

/* 회원가입 글씨 */
.title {
    width: 100%;
    height: 50px;
    margin-bottom: 7px; /* 회원가입 글자와 창 간격 조절 */
}

.title-p{
    text-align: center;
    font-size: 32px;
    margin: 0;  /* p태그 이 속성 reset.css로 옮겨도 이상없으면 옮기기 */
}

.bar {
    position: absolute;
    border: 1.1px solid #ffd100;
    width: 130px;
    left: 50%;
    transform: translate(-50%, 0);
}

/* 창 이미지 */

.window-img {
    position: absolute;
    text-align: center;
}

.window {
    bottom: 0;
}

.input{
    position: absolute;
    top: 21%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 397px;
    height: 470px;
    text-align: center;
}

.input-box {
    position: relative;
    margin-bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
}

.half-box {
    position: relative;
    margin-bottom: 10px;
    display: inline-block;
}

.input-img {
    position: absolute;
    text-align: left;
}

.input-info, .input-id, .input-pwcheck {
    width: 291.5px;
    height: 47px; 
    margin-left: 47px;
    border-radius: 0 10px 10px 0;
    border:1px solid #3648ec;
    padding: 1.5px;
    padding-left: 15px; 
}

/* 더 간단히 줄일 수 있으면 그렇게.. */
.input-half, .input-id {
    height: 47px; 
    margin-left: 47px;
    border-radius: 0 10px 10px 0;
    border:1px solid #3648ec;
    padding: 1.5px;
    padding-left: 15px; 
    display: inline-block;    
}

.input-half {
    width: 110px;
}

.input-id {
    width: 127px;
}

/* e-mirim 박스 */
.box {
    margin-left: 0; 
    border-radius: 10px 10px 10px 10px;
    height: 47px; 
    border:1px solid #3648ec;
    text-align: center;
    width: 137.5px;
    font-size: 14px;
    background-color: white;
}


/* 생년월일만 속성 추가 */
.input-info:nth-child(2) {
    color: #949191;
    font-size: 13px;
}

/* placeholder 색 변경 */
.input-info::placeholder, .input-id::placeholder, .input-pwcheck::placeholder, .input-half::placeholder { color: #a1a1a1; font-size: 13px; }

.input input#sub {
    width:160px;
    height:60px;
    border: 0;
    border-radius: 50px;
    background-color: #fac60e;
    color:white;
    font-size: 16px;
    margin-top: 25px;
}