
html {
    background: url(../IMG/SignIn/BG.png) no-repeat 50% 50% fixed; 
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover;
}
.container {
    position: relative;
    width: 100%;
    height: 961px; /* 몇으로 해야할까 1080-961 */
    z-index: 1;
}

.contents-l, .contents-r {
    position: absolute;
    height: 961px;
    display: inline-block;
    box-sizing: border-box;
}

/* 왼쪽 컨텐츠 */
.contents-l {
    padding-left: 30px;
    width: 640px;
}

.contents-l-l, .contents-l-r {
    position: absolute;
    height: 961px;
    display: inline-block;
}

.contents-l-l {
    width: 290px
}

.contents-l-r {
    right: 0;
    width: 350px
}

/* 왼쪽 컨텐츠의 왼쪽, 오른쪽 이미지 */
.chat, .deco1, .person1, .deco2, .person2 {
    position: absolute;
}

.chat, .deco1, .deco2 {
    z-index: 1;
}

/* 왼쪽 컨텐츠의 왼쪽 이미지 */
.chat {
    width: 114px;
}

.deco1 {
    width: 87px;
    margin-top: 129.5px;
}

.person1 {
    width: 253.5px;
    margin-left: 38px;
    margin-top: 20px;
}

/* 왼쪽 컨텐츠의 오른족 이미지 */
.deco2 {
    width: 130px;
    margin-left: 33px;
    margin-top: 95px;
}

.person2 {
    margin-top: 96px;
    width: 355px;
    box-sizing: border-box;
    left: -15px;
}

/* 오른쪽 컨텐츠 */
.contents-r {
    width: 560px;
    right: 0;
    padding-left: 20px;
    padding-top: 65px;
    box-sizing: border-box;
}

/* 로그인 글씨 */
.title {
    width: 100%;
    height: 50px;
    margin-bottom: 4px; /* 회원가입 글자와 창 간격 조절 */
}

.title-p{
    text-align: left;
    font-size: 32px;
    font-family: 'Noto Sans KR', sans-serif;
    padding-left: 42px;
    margin: 0;  /* p태그 이 속성 reset.css로 옮겨도 이상없으면 옮기기 */
}

.bar {
    position: absolute;
    border: 1.1px solid #ffd100;
    width: 100px;
    margin-left: 35px;

}

.window {
    position: relative;
    text-align: left;
}

.input {
    position: absolute;
    width: 425px;
    height: 295px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-right: 15px;
    margin-top: 10px;
}

.Login-input{
    border-radius: 10px;
    border:1px solid #fac60e;
    width: 408px;
    height: 50px;
    margin-bottom: 10px;
    padding-left: 15px; 
}

.Login-input::placeholder {color: rgb(227, 162, 93); font-size: 14px; }
.Login-input:last-child { margin-bottom: 20px; }

.Find-mid{
    margin-left:10px;
    margin-right:10px;
}

/* 로그인 버튼, 회원가입 버튼 */
.Sign-Button{
    width: 425px;
    height: 50px;
    border: 0;
    border-radius: 25px;
    background-color: #fac60e;
    color:white;
    font-size: 16px;
    font-family: 'Noto Sans KR', sans-serif;
    margin-bottom: 10px;
}

/* 회원가입 버튼 */
.Sign-Button:last-child {
    background-color: white;
    color: #fac60e;
    border: 1px solid #fac60e;
}

/* 아이디, 비밀번호 찾기 */
.find ul li {
    float:left;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 13px;
}

.find ul {
    position: absolute;
    height: 20px;
    padding: 0;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 0;
}
