
#IMG1{
    position: absolute;
    width: 16%;
    left: 12%;
    top: 18%;
}

#IMG2{
    position: absolute;
    width: 16%;
    left: 30%;
    top: 28%;
}

#IMG3{
    position: absolute;
    width: 16%;
    left: 52%;
    top: 18%;

}

#Login{
    position: absolute;
    z-index: 1;
    left: 59%;
    top: 25%;  
    font-size: 30px; 
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
}

.Login{
    position: absolute;
    left: 55%;
    top: 40%;
}

.Login-id{
    color: #707070;
    font-weight: bold;
    line-height: 2px;
}

.Login-id-input{
    border: 0px;
    width: 400px;
    border-bottom: 2px solid #fac60e;
}

.Login-pw{
    color: #707070;
    font-weight: bold;
    margin-top: 10%;
    line-height: 2px;
}

.Login-pw-input{
    border: 0px;
    width: 400px;
    border-bottom: 2px solid #fac60e;
} 

.Login ul li {
    float:left;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 13px;
}

.Login ul {
    margin-left:190px;
}

.Find-mid{
    margin-left:10px;
    margin-right:10px;
}

.Sign-Button{
    position: absolute;
    width: 25.2%;
    right: 20%;
    top: 70%;
    border: 0;
}

.Sign-In-Button{
    width:110px;
    height:35px;
    border: 0;
    border-radius: 25px;
    background-color: #fac60e;
    color:white;
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;
}

.Sign-Up-Button{
    width:110px;
    height:35px;
    background-color: white;
    border: 2px solid #fac60e;
    border-radius: 25px;
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;
}